@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;600;800&display=swap');

/* -----GENERALES----- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    background: url('./assets/fondo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-size: 2rem;
    margin: 10px 0;
}

h2 {
    font-size: 1.8rem;
    text-transform: capitalize;
    transition: .2s;
}

p {
    text-transform: capitalize;
}

button {
    border: none; 
    padding: 5px 10px;
    border-radius: 20px;
    transition: .2s;
}

button:hover {
    scale: 1.1;
    cursor: pointer;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #f2950000 #373b4000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #373b4000;
}

*::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    border-radius: 10px;
    border: 3px none #ffffff;
}

/* -----HEADER----- */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-block: 40px;
    background-color: rgba(117, 117, 117, 0.089);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.452);
}

.header_search {
    margin-inline: 40px;
}

.header_img {
    width: 100%;
    max-width: 450px;
}

.header-input {
    border: none;
    width: 280px;
    height: 40px;
    border-radius: 50px;
    padding-inline: 20px;
    transition: 0.2s;
    text-align: center;
    font-size: 16px;
}

.header-input:hover {
    cursor: text;
}

.header-input::placeholder {
    color: lightgrey;
    font-size: 16px;
}

.header-input:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
    scale: 1.15;
    
}

/* -----CARD----- */

#pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;
    overflow-y: scroll;
    height: 70vh;
}

.onePokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 280px;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    transition: all .2s ease-in;
}

.onePokemon:hover {
    scale: 1.1;
    background: rgb(177,0,255);
    background: linear-gradient(125deg, rgba(177,0,255,1) 0%, rgba(5,193,231,1) 100%);
}

.onePokemon:hover img {
    transform: rotateY(180deg);
}

.onePokemon:hover h2 {
    color: white;
}

.onePokemon:hover p {
    color: white;
}

.imgPokemon {
    height: 100%;
    max-width: 160px;
    margin: 10px;
    transition: 1.5s;
    
}

.pokemonType {
    display: flex;
}

.pokemonType p {
    margin: 5px 15px;
}

#pokemon_card--type {
    display: flex;
    width: 240px;
    justify-content: center;
}

.type {
    width: 100%;
    max-width: 100px;
    margin: 15px;
}

#pokemon_card--button {
    border: none;
    background-color: transparent;
    transition: .2s;
}

.pokemon_card--button-plus {
    width: 100%;
    max-width: 40px;
}

#pokemon_card--button:hover {
    scale: 1.15;
    cursor: pointer;
}

/* -----MODAL----- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 650px;
    border-radius: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}